
.card{
    padding: 10px;
    width: 300px;
}
.card-title{
    display: flex;
    font-size: 20px;
    font-weight: bolder;
}

.tarjetasCursos{
    display: flex;
    justify-content: center;
}

.card .card-content {
    display: flex;
    padding: 1px;
    margin: 20px;
}


.btnModalRight{
    display: flex;
    justify-content: center;
}

.botonVerMas{
    display: flex;
    justify-content: center;
}

h1{
    display: inline;
}


.lineaSeparadora{
    margin: 10px;
}

.titulosCategoriaCurso{
    margin: 10px;
}

.tarjetasGrid{
    display: grid;
    border: none;
    margin: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "cardResumen cardGeneral";
}

.cardResumen{
    grid-area: cardResumen;
}

.cardGeneral{
    width: auto;
    grid-area: cardGeneral;
}




.card-body{
    justify-self: end;
}


.btn{
    background-color: #f8bbd0;
}