
.card{
    padding: 10px;
}
.card-title{
    display: flex;
    font-size: 20px;
    font-weight: bolder;
}



h1{
    display: inline;
}


.cardResumen{
    display: block;
    align-content: start;
}


.card-body{
    justify-self: end;
}