.botonCarrito{
    display: inline;
    width: 100%;
}

#modalCarrito{
    padding: 10px;
}

.tituloTablaCarrito{
    font-size: large;
    font-weight: bolder;
}

.textoTablaCarrito{
    font-size: 15px;
}


.dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 36px;
    right: 7px;
    z-index: 10;
}