


@media (max-width: 768px) {
    .whatsapp-button{
        bottom: -7px !important;
        right: -9px !important;
    }
}



@media (max-width: 768px) {
    /* Estilo para el punto rojo de notificación */
    .notification-dot {
        display: none;
        width: 12px;
        height: 12px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        top: 31px;
        right: 18px;
        z-index: 10;
        color: white;
    }
    .notification-dot::before {
        content: "3"; /* Puedes cambiar este número según tus necesidades */
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .navbar-brand {
        margin-left: 10px;
    }

    .titulosCategoriaCurso {
        font-size: 20px;
    }

    h5 {
        scale: 70%;
    }

    #logoWP {
        scale: 70%;
    }

    .tarjetasCursos {
        display: block;
    }

    .cuerpoFooter {
        display: flex;
    }

    .row .col.s3 {
        width: 100%;
    }

    #logoEmpresa {
        scale: 80%;
    }
    #botonCarrito{
        display: flex;
    }
    .dot {
        display: none;
        width: 12px;
        height: 12px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        top: 161px;
        right: 276px;
        z-index: 10;
        color: white;
    }
    .dot::before {
        content: "2"; /* Puedes cambiar este número según tus necesidades */
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}



/* Media query para ocultar la clase en pantallas con un ancho máximo de 768 píxeles */
@media (max-width: 768px) {
    .ocultarMapa {
        display: none;
    }
}



nav .sidenav-trigger {
    float: right;
}




/*INDEX*/

@media (max-width: 768px) {

    .iconosPaises {
        display: inline-block;
        justify-content: center;
        margin: 30px;
    }
    .iconoPais{
        height: 20px;
    }
}

/*PRODUCTOS*/

@media (max-width: 768px) {
    .tarjetasCursos .col {
        float: none;
        display: inline-block;
        text-align: center;
    }
    .tarjetasCursos {
        display: block;
        text-align: center;
    }
    
}


/*NOSOTROS*/

@media (max-width: 768px) {
    .containerQuienesSomos {
        margin: 0px;
        padding: 9px;
    }
    .card.horizontal {
        display: block;
        justify-content: center;
        max-width: 100%;
    }
    .card.horizontal .card-image {
        max-width: 100%;
        padding-bottom: 0%;
    }
    .cardStaffBody{
        padding: 0px;
    }
    .iconSection{
        margin-top: 10px;
    }
    .cardTituloQuienesSomos {
        font-size: 18px;
        margin-top: 10px;
    }
    .iconsGrid {
        padding: 0px;
    }
    .iconTitle {
        margin: 0px;
        font-size: 12px;
        font-weight: 700;
        padding: 0px !important; 
    }
    .iconText {
        display: block;
        scale: none;
        font-size: 9px;
    }
    .imagenCardStaff {
        width: 80px;
    }
    .cardStaff{
        width: 100%;
        display: flex;
    }
    .cardStaffDueña{
        display: flex !important;
    }
    .cardTituloStaff {
        font-size: 9px;
    }
    .textCardStaff{
        font-size: 7px;
    }
    .cardStaffBody {
        padding: 5px;
        padding-top: 0px;
    }
    .sectionStaff {
        margin: 7px;
    }
    .iconRow{
        padding: 7px;
    }
}
