.textoCentrado{
    display: inline-block;
    font-size: 50px;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.textoGris{
    color: rgb(89, 97, 97);
}


.form {
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Avenir', sans-serif; 
    color: #33475b;    
  }
  

.tituloCursos{
    font-size: 25px;
    margin: 10px;
    margin-left: 0px;
}